/*Existen 3 selectores*/
/*Por elemento o tag
<tag*/
div {
    color:red;
}
/*Por id (recordar que debe único en todo el html)
<tag id=""
*/
#nombre_id {
    color:red;
}
/*Por class
<tag class="" */
.nombre_clase {
    color: red;
}

/*Lo de más abajo, reemplaza lo de arriba*/
/*Esto hace que el color del texto en todos los div sea rojo*/
div {
    color:red;
}
/*El mismo selector más abajo reemplaza las indicaciones de arriba*/
div {
    color: yellow;
}

/*Podemos animar elementos para especificar más*/
/*Donde todos los span que esten dentro de un p 
dentro de un div aplicara el estilo*/
div p span {
    color: white;
}
/*También podemos indicar clases en los elementos
 para especificar en más detalle*/
span.mi_clase {
    color:red;
}