h1 {
    color: green; /*FF FF FF*/
}

header {
    color:blue;
}

div p{ 
    color: greenyellow;
}



div, p, li{ 
    color: pink;
}


#lista_desordenada {
    background: black;
    border: solid 1px  rgb(104, 70, 70);
    border-width: 5px;
    border-style: dashed;
    border-color: #A4F2D2 ;


    margin: 0 20px;

}

.mi-clase {
    color: blueviolet;
    font-size: 15px;
    border: 1px solid brown;
    border-radius: 15px 15px;
}
li.mi-clase{ 
    font-size: 5px;
}


.segunda-clase {
    font-size: 50px;
}

.color-negro {
    color: black;
}
span {
    font-weight: bold;
    font-size: larger;
}

ul li {
    float: left;
}